<div id="donate" class="modal">
	<div class="modal-content">
		<h4>Support Us / Donate</h4>
		<p>For every prediction made the AI must run millions of calculations. While each calculation costs very little,
			they start to build up. Any money contributed will be used to keep the servers running and to upgrade the
			website performance.</p>
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
			<input type="hidden" name="cmd" value="_donations" />
			<input type="hidden" name="business" value="3VCVWGXCK9XMN" />
			<input type="hidden" name="item_name" value="Support Will I Have A Snow Day.com" />
			<input type="hidden" name="currency_code" value="USD" />
			<button type='submit' name='submit' class='col s12 btn waves-effect'>Donate with PayPal</button>
			<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
		</form>
		<p>Bitcoin: 1Heac8UZ11fiUv6fozaetZde4V5DzegS26</p>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-red btn-flat">Close</a>
	</div>
</div>


<footer class="page-footer red darken-3">
	<div class="container">
		<div class="row">
			<div class="col l9 s12">
				<h5 class="white-text">Will I Have A Snow Day?</h5>
				<p class="grey-text text-lighten-4">We provide the most accurate snow day predictions through our custom
					AI trained on over a decade of weather and snow day data. This site was created by Hayden Housen in
					his sophomore and senior years of high school.</p>
				<a class="waves-effect waves-light btn modal-trigger" href="#donate"><i
						class="material-icons left">attach_money</i>Support/Donate</a>
			</div>
			<div class="col l3 s12">
				<h5 class="white-text">Connect</h5>
				<ul>
					<li><a class="white-text" href="https://twitter.com/willhavesnowday">Twitter</a></li>
					<li><a class="white-text" href="{{ url_for('mainbp.contact') }}">Email</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			<div class="center left-md-and-up">
			&copy; <script>
				document.write(new Date().getFullYear());
			</script>, Designed and Coded by <a class="orange-text" href="https://haydenhousen.com">Hayden Housen</a>
			</div>
			<div class="center right-md-and-up"><a href="{{ url_for('mainbp.privacy_policy') }}">Privacy Policy</a></div>
		</div>
	</div>
</footer>