<div id="donate" class="modal">
	<div class="modal-content">
		<h4>Support Us / Donate</h4>
		<p>For every prediction made the AI must run millions of calculations. While each calculation costs very little,
			they start to build up. Any money contributed will be used to keep the servers running and to upgrade the
			website performance.</p>
		<p>PayPal:</p>
		<p>Bitcoin: </p>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-red btn-flat">Close</a>
	</div>
</div>


<footer class="page-footer red darken-3">
	<div class="container">
		<div class="row">
			<div class="col l9 s12">
				<h5 class="white-text">Will I Have A Snowday?</h5>
				<p class="grey-text text-lighten-4">We provide the most accurate snowday predictions through our custom
					AI trained on over a decade of weather and snowday data. This site was created by Hayden Housen in
					his sophomore and senior years of high school.</p>
				<a class="waves-effect waves-light btn modal-trigger" href="#donate"><i
						class="material-icons left">attach_money</i>Support/Donate</a>
			</div>
			<div class="col l3 s12">
				<h5 class="white-text">Connect</h5>
				<ul>
					<li><a class="white-text" href="#!">Twitter</a></li>
					<li><a class="white-text" href="#!">Facebook</a></li>
					<li><a class="white-text" href="#!">Email</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			&copy; <script>
				document.write(new Date().getFullYear());
			</script>, Designed and Coded by <a class="orange-text" href="https://haydenhousen.com">Hayden Housen</a>
		</div>
	</div>
</footer>