@import "materialize/materialize";

p {
  line-height: 2rem;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

@media #{$medium-and-up} {
  #prediction-wrapper {
    min-height: calc(100% - 64px);
  }
}

@media #{$large-and-up} {
  .valign-wrapper-med-up {
    display: flex;
    align-items: center;
  }
}

@media only screen and (min-width: 601px) and (max-width: 736px) {
  nav .brand-logo {
    left: 0;
    position: inherit !important;
    transform: translateX(0%) !important;
  }
}

@media #{$medium-and-up} {
  .right-md-and-up {
    float: right;
  }
  .left-md-and-up {
    float: left;
  }
}