[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-Admin = "*"
Flask-Bcrypt = "*"
Flask-DebugToolbar = "*"
Flask-Login = "*"
Flask-Mail = "*"
Flask-SQLAlchemy = "*"
Flask-WTF = "*"
gunicorn = "*"
itsdangerous = "*"
pytz = "*"
structlog = "*"
termcolor = "*"
environs = "*"
WTForms = "*"
stripe = "*"
psycopg2-binary = "*"
click = "*"
email-validator = "*"
Flask-Limiter = "*"
APScheduler = "*"
sendgrid = "*"
pgeocode = "*"
uszipcode = "*"
Flask-Minify = "*"
joblib = "*"
scikit-learn = "*"
xgboost = "*"
cmake = ">=3.18"
flask-sitemap = "*"
jsmin = "*"
noaa_sdk = {git = "https://github.com/HHousen/noaa"}
sentry-sdk = {extras = [ "flask",]}

[dev-packages]

[requires]
python_version = "3.8"
