{% extends "layout.html" %}

{% block content %}
    <div class="section">
        <div class="container">
            <div class="row center">
                <div class="col s12 m8 l9">
                    <img class="circle" src="{{ current_user.avatar(128) }}">
                    <h3>{{ current_user.username }}</h3>
                    <p>Points: {{ current_user.points }} <a class="modal-trigger" href="#points-info"><i class="material-icons">help_outline</i></a></p>
                    <p>Leaderboard Rank: {{ current_user.rank }} <a class="modal-trigger" href="#rank-info"><i class="material-icons">help_outline</i></a></p>
                    <p>Account created on {{ current_user.created_at.strftime("%b %d %Y") }}</p>
                    {% if current_user.rank == 1 %}
                    <p>Congrats on being first on the leaderboard! Here's a cute cat gif.</p>
                    <img src="https://cataas.com/cat/gif?type=or" alt="Cute cat gif">
                    {% endif %}
                </div>
                <div class="col s12 m4 l3">
                    <h4>Settings</h4>
                    <div class="row">
                        <a href="#change-username" class="waves-effect waves-light btn modal-trigger">Change Username</a>
                    </div>
                    <div class="row">
                        <a href="#change-password" class="waves-effect waves-light btn modal-trigger">Change Password</a>
                    </div>
                    <div class="row">
                        <p style="margin-bottom: 0;">Receive Improve Emails <a class="modal-trigger" href="#improve-emails"><i class="material-icons">help_outline</i></a></p>
                        <div class="switch">
                            <label>
                                Off
                                <input id="receive-improve-emails-checkbox" type="checkbox" {% if receive_improve_emails %}checked="checked"{% endif %}>
                                <span class="lever"></span>
                                On
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="rank-info" class="modal">
        <div class="modal-content">
            <h4>Leaderboard Info</h4>
            <p>The ranking shown here on your profile is <strong>updated every three hours</strong> Tuesday through Saturday.</p>
            <p>The rankings shown on <a href="{{ url_for('mainbp.leaderboard') }}">the leaderboard page</a> are <strong>always up to date</strong>.</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-red btn-flat">Close</a>
        </div>
    </div>
    <div id="points-info" class="modal">
        <div class="modal-content">
            <h4>Points Info</h4>
            <p>You gain <strong>points</strong> for <strong>each contribution</strong> that you make to Will I Have a Snow Day.com.</p>
            <p><strong>One point</strong> is gained for <strong>each email</strong> you respond to by clicking the button indicating you had a snow day or the one indicating you had school.</p>
            <p>You will be <strong>given a point regardless of the button you press</strong> because data for snow days and open days are equally valuable.</p>
            <p><strong class="red-text">Important Note:</strong> You may be <strong>temporally banned</strong> from gaining points if you respond to a <strong>large number predictions</strong> across a <strong>large geographic area</strong> in a <strong>short period of time</strong>. Additionally, you may be <strong>temporally banned</strong> if the majority of reports for a zip code continuously disagree with your reports. In short, <strong>don't try to game the system</strong>. Thanks!</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-red btn-flat">Close</a>
        </div>
    </div>
    <div id="improve-emails" class="modal">
        <div class="modal-content">
            <h4>Improve Emails Info</h4>
            <p>Since you are signed into an account we will follow up with you at 4:00pm the day of the predicted snow day
                regarding every unique prediction you make. All you have to do is press one button in the email: "Yes I had
                a snow day" or "No I did not have a snow day".</p>
            <p>A unique prediction means each zip code. You will only be emailed once if you make several predictions for
                the same zip code.</p>
            <p>Additionally, since you are signed in, you can track your contributions and see how you compare to others on
                the <a href="{{ url_for('mainbp.leaderboard') }}">leaderboard</a>.</p>
            <p><strong>You can disable or enable these emails by toggling this switch.</strong> If disabled, you will be unable to earn points.</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-red btn-flat">Close</a>
        </div>
    </div>
    <div id="change-username" class="modal">
        <div class="modal-content">
            <h4>Change Username</h4>
            <form id="change-username-form" action="/user/change-username" method="post">
                <div class='row'>
                    <div class='input-field col s12 m8 l 9'>
                        {{ m.render_field(change_username_form.new_username) }}
                    </div>

                    <div class='col right s12 m4 l 3'>
                        <button type='submit' name='btn_change_username' class='col s12 btn btn-large waves-effect'><i
                                class="material-icons right">send</i>Save</button>
                    </div>
                </div>
                {{ change_username_form.csrf_token }}
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-red btn-flat">Close</a>
        </div>
    </div>
    <div id="change-password" class="modal">
        <div class="modal-content">
            <h4>Change Password</h4>
            <form id="change-password-form" action="/user/change-password" method="post">
                <div class='row'>
                    <div class='input-field col s12'>
                        {{ m.render_field(change_password_form.current_password) }}
                    </div>
                    <div class='input-field col s12'>
                        {{ m.render_field(change_password_form.new_password) }}
                    </div>
                    <div class='input-field col s12'>
                        {{ m.render_field(change_password_form.confirm) }}
                    </div>

                    <div class='col right'>
                        <button type='submit' name='btn_change_password' class='col s12 btn btn-large waves-effect'><i
                                class="material-icons right">send</i>Save</button>
                    </div>
                </div>
                {{ change_password_form.csrf_token }}
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-red btn-flat">Close</a>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block final %}
<script async src="{{ url_for('static', filename='js/account.js') }}"></script>
{% endblock %}
