{% extends "layout.html" %}
{% block head %}
	{{ super() }}
	<style>
		body {
			background: #222;
			background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://picsum.photos/1200/800/?blur');
			background-size: cover;
			background-position: center center;
			background-fill-mode: rgba(0,0,0,0.5);
			height: 100vh;
		}
		#box {
			max-width: 423px;
			padding: 32px 48px 0px 48px;
			border: 5px solid #ef6c00;
		}
		.container {
			margin-bottom: 35px;
		}
		#outer {
			margin: 0 auto;
			text-align: center;
		}
	</style>
{% endblock %}
{% block head_scripts %}
{% endblock %}

{% block footer %}
{% endblock %}