{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1 class="center-align">About</h1>
    <div class="section">
		
        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
              <h5 class="center">Extremely Accurate</h5>
  
              <p class="light">Our results are precise. Other snow day predictors use simplistic formulas based on intuition and little previous data. Our algorithm uses AI and Machine Learning. It has learned what weather conditions cause snow days by inspecting decades of data, more than any human could analyze.</p>
            </div>
          </div>
  
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">group</i></h2>
              <h5 class="center">Advanced Powerful AI</h5>
  
              <p class="light">Machine Learning has revolutionized many industries, from self-driving cars to medicine. Unlike other snow day calculators, we use state-of-the-art AI modeling techniques to deliver the most accurate predictions.</p>
            </div>
          </div>
  
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
              <h5 class="center">Easy & Simple to Use</h5>
  
              <p class="light">Simply enter your zip code and the number of snow days that you've had this year. Powerful computers will compute the chance of a snow day for the next few days.</p>
            </div>
          </div>
        </div>

        <div class="row center">
          <!-- WIHASD About -->
          <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-5688177144759966"
            data-ad-slot="5664047223"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
  
      </div>
</div>

{% endblock %}

{% block final %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endblock %}
