{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1 class="center-align">Contact</h1>
    <div class="row">
        <div class="col s12 m8 l9">
            <form id="contact-form" class="col s12 pageclip-form" action="https://send.pageclip.co/anBMcB2fLNWP430HO9yPKyfLd2MJ49x7" method="post">
                <div class="row">
                    <div class="input-field col s12 m6">
                        <input class="validate" id="name" name="name" required="" type="text" value="">
                        <label for="name">Name</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input class="validate invalid" id="email" name="email" required="" type="text" value="">
                        <label for="email" class="">From Email Address</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input class="validate" id="subject" name="subject" required="" type="text" value="">
                        <label for="subject">Subject</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea class="validate materialize-textarea" id="message"
                            name="message" required=""></textarea>
                        <label for="message">Message</label>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 20px">
                    <button type="submit" class="btn btn-large waves-effect right"><i class="material-icons right">send</i>Send</button>
                </div>
            </form>

            <form class="col s12" action="/contact" method="post">
                <div class='row'>
                    <div class='input-field col s12 m6'>
                        {{ m.render_field(form.name) }}
                    </div>
                    <div class='input-field col s12 m6'>
                        {{ m.render_field(form.email) }}
                    </div>
                </div>
                <div class='row'>
                    <div class='input-field col s12'>
                        {{ m.render_field(form.subject) }}
                    </div>
                </div>
                <div class='row'>
                    <div class='input-field col s12'>
                        {{ form.message(name_=form.message.name, id=form.message.name, class="validate materialize-textarea") }}
                        <label for="{{ form.message.name }}">{{ form.message.description|title }}</label>
                        {% if form.message.errors %}
                            {% for error in form.message.errors %}
                            <span class="helper-text red-text left">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                
                <div class='row' style="margin-bottom: 20px">
                    <button type='submit' class='btn btn-large waves-effect right'><i class="material-icons right">send</i>Send</button>
                </div>
                {{ form.csrf_token }}
            </form>
        </div>
        <div class="col s12 m4 l3">
            <!-- WIHASD Contact -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-5688177144759966"
                data-ad-slot="2591145417"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</div>
{% endblock %}

{% block final %}
<script src="https://s.pageclip.co/v1/pageclip.js" charset="utf-8"></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endblock %}