{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1 class="center-align">Contact</h1>
    <div class="row">
        <div class="col s12 m8 l9">
            <form id="contact-form" class="col s12 pageclip-form" action="https://send.pageclip.co/anBMcB2fLNWP430HO9yPKyfLd2MJ49x7" method="post">
                <div class="row">
                    <div class="input-field col s12 m6">
                        <input class="validate" id="name" name="name" required="" type="text" value="">
                        <label for="name">Name</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input class="validate" id="email" name="email" required="" type="email" value="">
                        <label for="email" class="">From Email Address</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input class="validate" id="subject" name="subject" required="" type="text" value="">
                        <label for="subject">Subject</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea class="validate materialize-textarea" id="message"
                            name="message" required=""></textarea>
                        <label for="message">Message</label>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 20px">
                    <button type="submit" class="btn btn-large waves-effect right"><i class="material-icons right">send</i>Send</button>
                </div>
            </form>
        </div>
        <div class="col s12 m4 l3">
            <!-- WIHASD Contact -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-5688177144759966"
                data-ad-slot="2591145417"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</div>
{% endblock %}

{% block final %}
<script async src="{{ url_for('static', filename='js/contact.js') }}"></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endblock %}