{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1 class="center-align">Contact</h1>
    <div class="row">
        <div class="col s12 m8 l9">
            <form class="col s12" action="/contact" method="post">
                <div class='row'>
                    <div class='input-field col s12 m6'>
                        {{ m.render_field(form.name) }}
                    </div>
                    <div class='input-field col s12 m6'>
                        {{ m.render_field(form.email) }}
                    </div>
                </div>
                <div class='row'>
                    <div class='input-field col s12'>
                        {{ m.render_field(form.subject) }}
                    </div>
                </div>
                <div class='row'>
                    <div class='input-field col s12'>
                        {{ form.message(name_=form.message.name, id=form.message.name, class="validate materialize-textarea") }}
                        <label for="{{ form.message.name }}">{{ form.message.description|title }}</label>
                        {% if form.message.errors %}
                            {% for error in form.message.errors %}
                            <span class="helper-text red-text left">{{ error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                
                <div class='row' style="margin-bottom: 20px">
                    <button type='submit' class='col s12 btn btn-large waves-effect'><i class="material-icons right">send</i>Send</button>
                </div>
                {{ form.csrf_token }}
            </form>
        </div>
        <div class="col s12 m4 l3">
            <!-- WIHASD Contact -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-5688177144759966"
                data-ad-slot="2591145417"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</div>
{% endblock %}

{% block final %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endblock %}