{% extends "layout.html" %}

{% block head %}
{{ super() }}
<!-- Primary Meta Tags -->
<title>Will I Have A Snow Day — AI-powered snow day predictor</title>
<meta name="title" content="Will I Have A Snow Day — AI-powered snow day predictor">
<meta name="description"
	content="The most powerful snow day predictor. With just your zip code, our advanced AI algorithm will calculate your chance of having a snow day.">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://willihaveasnowday.com/">
<meta property="og:title" content="Will I Have A Snow Day — AI-powered snow day predictor">
<meta property="og:description"
	content="The most powerful snow day predictor. With just your zip code, our advanced AI algorithm will calculate your chance of having a snow day.">
<meta property="og:image" content="{{ url_for('static', filename='img/social.webp') }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://willihaveasnowday.com/">
<meta property="twitter:title" content="Will I Have A Snow Day — AI-powered snow day predictor">
<meta property="twitter:description"
	content="The most powerful snow day predictor. With just your zip code, our advanced AI algorithm will calculate your chance of having a snow day.">
<meta property="twitter:image" content="{{ url_for('static', filename='img/social.webp') }}">
<script data-ad-client="ca-pub-5688177144759966" async
	src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<style>
	body {
		height: 100vh;
		position: relative;
		min-height: 700px;
	}

	#background-container {
		position: fixed;
		z-index: -1;
		transform: scale(1.1);
		width: 100%;
		height: 100%;
	}

	#background {
		position: fixed;
		z-index: -1;
		background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url({{ background }});
		background-size: cover;
		width: 100%;
		height: 100%;
		filter: blur(10px);
	}

	#box {
		border-radius: 25px;
		padding: 24px 48px 0px 48px;
		border: 5px solid #ef6c00;
	}

	#results-panel {
		min-height: 700px;
	}

	.circle-bg {
		fill: none;
		stroke: #eee;
		stroke-width: 3.8;
	}

	.circle {
		fill: none;
		stroke-width: 2.8;
		stroke-linecap: round;
		animation: progress 1s ease-out forwards;
	}

	@keyframes progress {
		0% {
			stroke-dasharray: 0 100;
		}
	}

	.circular-chart.cc-red .circle {
		stroke: #C62828;
	}

	.circular-chart {
		max-width: 240px;
	}

	.percentage {
		fill: rgba(255, 255, 255, 0.9);
		font-size: 0.5em;
		text-anchor: middle;
	}

	#zip_code {
		margin-left: 0;
		margin-right: 2em;
		width: 92%;
		/* width: 100%; */
	}

	#zip_code~label {
		margin-left: 0;
		margin-right: 2em;
		/* width: 100%; */
	}

	#get-location-icon {
		right: 0;
		color: rgb(158, 158, 158);
		cursor: pointer;
	}

	.icn-spinner {
		animation: spin-animation 1.5s infinite linear;
		display: inline-block;
	}

	@keyframes spin-animation {
		0% {
			transform: rotate(359deg);
		}

		100% {
			transform: rotate(0deg);
		}
	}
	
	.day-text {
		text-align: left;
	}
</style>
{% endblock %}

{% block content %}
<div id="background-container">
	<div id="background"></div>
</div>
<div id="prediction-wrapper" class="valign-wrapper-med-up">
	<div class="container">
		<div id="predict-panel">
			<div class="row center valign-wrapper-med-up">
				<div class="col s12 m12 l3">
					<img class="responsive-img" src="{{ url_for('static', filename='img/logo_256.webp') }}"
						alt="Snowflake Logo">
				</div>
				<div class="col s12 m12 l9">
					<div class="row">
						<h5 class="header light" style="color: rgba(255,255,255,.9);">Use your zipcode to automatically
							calculate your chance of having a snow day using AI & Machine Learning</h5>
					</div>

					<div id="box" class="z-depth-1 grey lighten-4 row">
						<form id="predict-form" action="/predict" method="post">
							<div class='row valign-wrapper-med-up'>
								<div class='col s12 m6 l4 xl5'>
									<div class='input-field col s12'>
										<i id="get-location-icon" class="material-icons prefix">my_location</i>
										{{ m.render_field(predict_form.zip_code) }}
									</div>
								</div>

								<div class='col s12 m6 l4 xl5'>
									<div class='input-field col s12'>
										{{ m.render_field(predict_form.num_snowdays) }}
									</div>

								</div>
								<div class='col s12 m12 l4 xl2'>
									<button id="predict-form-submit-btn" type='submit' name='btn_predict'
										class='col s12 btn btn-large waves-effect disabled'>Predict</button>
									<div id="predict-form-btn-loader" class="preloader-wrapper small active"
										style="display: none;">
										<div class="spinner-layer spinner-blue-only">
											<div class="circle-clipper left">
												<div class="circle"></div>
											</div>
											<div class="gap-patch">
												<div class="circle"></div>
											</div>
											<div class="circle-clipper right">
												<div class="circle"></div>
											</div>
										</div>
									</div>
								</div>
								{{ predict_form.csrf_token }}
							</div>
						</form>
					</div>
					<div class="row center">
						<img src="https://via.placeholder.com/728x90">
					</div>
				</div>
			</div>
		</div>

		<div id="results-panel" class="row center" style="display: none;">
			<div class="valign-wrapper-med-up" style="margin-top: 20px;">
			<div class="row center">
				<div class="row">
					<a id="go-back-btn" class="waves-effect btn-flat waves-light left"
						style="color: rgba(255,255,255,.9);">
						<i class="material-icons left">arrow_back</i>
						Go Back
					</a>
					<a id="refresh-btn" class="waves-effect btn-flat waves-light left"
						style="color: rgba(255,255,255,.9);">
						<i class="material-icons left">refresh</i>
						Update Prediction
					</a>
					<a id="help-improve-btn" class="waves-effect waves-light btn right modal-trigger"
						href="#help-improve"><i class="material-icons left">help_outline</i>Help Improve This
						Prediction</a>
				</div>

				<div class="row">

					<div class="row">
						<div class="col s12 m6 l4">
							<div id="day-0-card" class="card orange darken-4">
								<div class="card-content activator white-text">
									<svg viewBox="0 0 36 36" class="circular-chart cc-red activator" style="width: 70%;">
										<path class="circle-bg activator" d="M18 2.0845
											a 15.9155 15.9155 0 0 1 0 31.831
											a 15.9155 15.9155 0 0 1 0 -31.831" />
										<path class="circle activator" stroke-dasharray="0, 100" d="M18 2.0845
											a 15.9155 15.9155 0 0 1 0 31.831
											a 15.9155 15.9155 0 0 1 0 -31.831" />
										<text x="18" y="20.35" class="percentage activator">Loading</text>
									</svg>
									<span class="card-title activator"><span class="card-title-inner">Loading...</span></span>
									<p><strong id="day-0-percentage-text" class="activator">Loading</strong>% chance of a snow day.</p>
									<p class="day-text activator" id="day-0-text">Loading...</p>
								</div>
								<div class="card-reveal deep-orange darken-4 white-text">
									<span class="card-title"><span class="card-title-inner">Loading...</span><i class="material-icons right">close</i></span>
									<p class="day-text" id="day-0-text-all">Loading...</p>
								</div>
							</div>
						</div>
						<div class="col s12 m6 l4">
							<div id="day-1-card" class="card orange darken-3">
								<div class="card-content activator white-text">
									<svg viewBox="0 0 36 36" class="circular-chart cc-red activator" style="width: 70%;">
										<path class="circle-bg activator" d="M18 2.0845
											a 15.9155 15.9155 0 0 1 0 31.831
											a 15.9155 15.9155 0 0 1 0 -31.831" />
										<path class="circle activator" stroke-dasharray="0, 100" d="M18 2.0845
											a 15.9155 15.9155 0 0 1 0 31.831
											a 15.9155 15.9155 0 0 1 0 -31.831" />
										<text x="18" y="20.35" class="percentage activator">Loading</text>
									</svg>
									<span class="card-title activator"><span class="card-title-inner">Loading...</span></span>
									<p><strong id="day-1-percentage-text" class="activator">Loading</strong>% chance of a snow day.</p>
									<p class="day-text activator" id="day-1-text">Loading...</p>
								</div>
								<div class="card-reveal deep-orange darken-3 white-text">
									<span class="card-title"><span class="card-title-inner">Loading...</span><i class="material-icons right">close</i></span>
									<p class="day-text" id="day-1-text-all">Loading...</p>
								</div>
							</div>
						</div>
						<div class="col s12 m6 l4">
							<div id="day-2-card" class="card orange darken-2">
								<div class="card-content activator white-text">
									<svg viewBox="0 0 36 36" class="circular-chart cc-red activator" style="width: 70%;">
										<path class="circle-bg activator" d="M18 2.0845
											a 15.9155 15.9155 0 0 1 0 31.831
											a 15.9155 15.9155 0 0 1 0 -31.831" />
										<path class="circle activator" stroke-dasharray="0, 100" d="M18 2.0845
											a 15.9155 15.9155 0 0 1 0 31.831
											a 15.9155 15.9155 0 0 1 0 -31.831" />
										<text x="18" y="20.35" class="percentage activator">Loading</text>
									</svg>
									<span class="card-title activator"><span class="card-title-inner">Loading...</span></span>
									<p><strong id="day-2-percentage-text" class="activator">Loading</strong>% chance of a snow day.</p>
									<p class="day-text activator" id="day-2-text">Loading...</p>
								</div>
								<div class="card-reveal deep-orange darken-2 white-text">
									<span class="card-title"><span class="card-title-inner">Loading...</span><i class="material-icons right">close</i></span>
									<p class="day-text" id="day-2-text-all">Loading...</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
			<div class="row center">
				<img src="https://via.placeholder.com/728x90">
			</div>
		</div>
	</div>
</div>

<div id="help-improve" class="modal">
	<div class="modal-content">
		<h4>Help Improve The AI Predictions</h4>
		{% if signed_in %}
		<p>Since you are signed into an account we will follow up with you at 4:00pm the day of the predicted snow day
			regarding every unique prediction you make. All you have to do is press one button in the email: "Yes I had
			a snow day" or "No I did not have a snow day".</p>
		<p>A unique prediction means each zip code. You will only be emailed once if you make several predictions for
			the same zip code.</p>
		<p>Additionally, since you are signed in, you can track your contributions and see how you compare to others on
			the <a href="{{ url_for('mainbp.leaderboard') }}">leaderboard</a>.</p>
		{% else %}
		<p>Our AI is trained on decades of data. However, this data is far from complete. There are thousands of schools
			that we have no snow day data for.</p>
		<p>Every prediction made has the potential to improve all future predictions. All we need is one crucial piece
			of information: whether or not you actually had a snow day.</p>
		<p>Enter your email in the box below and we will follow up with you about this prediction at 4:00pm EST the day of
			the predicted snow day. All you have to do is press one button in the email: "Yes I had a snow day" or "No I
			did not have a snow day".</p>

		<form id="help-form" action="/help-improve" method="post">
			<div class='row'>
				<div class='col s12 m12 l9' style="padding-left: 0px;">
					<div class='input-field col s12'>
						{{ m.render_field(help_form.email) }}
					</div>
				</div>

				<div class='col s12 m12 l3'>
					<button type='submit' name='btn_predict' class='col s12 btn btn-large waves-effect'><i
							class="material-icons right">send</i>Save</button>
				</div>
			</div>
			{{ help_form.csrf_token }}
		</form>

		<p>Once we receive your response we delete your email address. No spam.</p>
		{% endif %}
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-red btn-flat">Close</a>
	</div>
</div>
{% endblock %}


{% block final %}
<script async src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}