{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1 class="center">Leaderboard</h1>
    <p>This page highlights the top 50 users who have contributed the most to improving the snow day prediction AI.</p>
    <p>Each point corresponds to one entry of whether our prediction was correct.</p>

    <div class="row">
        <div class="col s12 m8 l9">
            <ul class="collection">
                {% for user, points, avatar in users %}
                <li class="collection-item avatar">
                    <img src="{{ avatar }}" alt="User profile picture" class="circle">
                    <span class="title">{{ user }}</span>
                    <p>Points: {{ points }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col s12 m4 l3">
            <!-- WIHASD Leaderboard -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-5688177144759966"
                data-ad-slot="1692996710"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
</div>
{% endblock %}

{% block final %}
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{% endblock %}